In [1]:
import os, sys, time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import healpy as hp

from rubin_sim.data import get_data_dir
import sqlite3

from sat_utils import Constellation, starlink_constellation_v1

WARNING: version mismatch between CFITSIO header (v4.000999999999999) and linked library (v4.01).


WARNING: version mismatch between CFITSIO header (v4.000999999999999) and linked library (v4.01).


WARNING: version mismatch between CFITSIO header (v4.000999999999999) and linked library (v4.01).

In [2]:
# load up some visits

limit = 20

dd = get_data_dir()
baseline_file = os.path.join(dd,'sim_baseline/baseline.db')

# Conenct to the sqlite database
con = sqlite3.connect(baseline_file)

# Load up the first year
df = pd.read_sql('select * from observations where night < 1 limit %i;' % limit, con)

con.close()

In [3]:
df

,observationId,fieldRA,fieldDec,observationStartMJD,flush_by_mjd,visitExposureTime,filter,rotSkyPos,rotSkyPos_desired,numExposures,...,sunAz,sunRA,sunDec,moonRA,moonDec,moonDistance,solarElong,moonPhase,cummTelAz,scripted_id
0,0,310.024480,-60.812928,60218.001806,60218.023576,30.0,y,-297.249225,-297.249225,2,...,255.593220,186.644048,-2.870827,27.609463,11.956111,94.490314,102.958651,87.407902,169.454444,0
1,1,310.601871,-63.561425,60218.002254,60218.023576,30.0,y,-297.708278,-297.708278,2,...,255.500445,186.644453,-2.871001,27.615338,11.959438,95.029204,101.743959,87.404494,170.502875,0
2,2,311.292611,-66.317774,60218.002703,60218.023576,30.0,y,-297.909620,-297.909620,2,...,255.407493,186.644858,-2.871176,27.621208,11.962765,95.563446,100.497860,87.401088,171.406738,0
3,3,312.140731,-69.082666,60218.003152,60218.023576,30.0,y,-297.838337,-297.838337,2,...,255.314364,186.645264,-2.871350,27.627073,11.966093,96.092842,99.221261,87.397685,172.197791,0
4,4,304.170163,-73.375442,60218.003623,60218.023576,30.0,y,-309.290623,-309.290623,2,...,255.216260,186.645690,-2.871533,27.633232,11.969593,99.605370,94.821142,87.394110,177.239803,0
5,5,304.269558,-70.565222,60218.004072,60218.023576,30.0,y,-308.771894,-308.771894,2,...,255.122756,186.646096,-2.871707,27.639086,11.972923,99.093478,96.132959,87.390713,176.807505,0
6,6,310.024480,-60.812928,60218.004959,60218.023576,30.0,y,-297.249225,-297.249225,2,...,254.937589,186.646897,-2.872051,27.650630,11.979500,94.530102,102.956350,87.384011,169.721145,0
7,7,310.601871,-63.561425,60218.005408,60218.023576,30.0,y,-297.708278,-297.708278,2,...,254.843658,186.647302,-2.872225,27.656461,11.982828,95.067781,101.741752,87.380625,170.615190,0
8,8,311.292611,-66.317774,60218.005856,60218.023576,30.0,y,-297.909620,-297.909620,2,...,254.749551,186.647708,-2.872399,27.662286,11.986156,95.600722,100.495751,87.377242,171.382855,0
9,9,312.140731,-69.082666,60218.006305,60218.023576,30.0,y,-297.838337,-297.838337,2,...,254.655266,186.648113,-2.872573,27.668106,11.989485,96.128729,99.219254,87.373862,172.052509,0
10,10,304.170163,-73.375442,60218.006777,60218.023576,30.0,y,-309.290623,-309.290623,2,...,254.555955,186.648540,-2.872756,27.674218,11.992986,99.639329,94.819234,87.370311,176.953135,0
11,11,304.269558,-70.565222,60218.007226,60218.023576,30.0,y,-308.771894,-308.771894,2,...,254.461296,186.648945,-2.872931,27.680027,11.996316,99.128928,96.130946,87.366936,176.628960,0
12,12,304.269558,-70.565222,60218.007664,60218.051312,30.0,y,-312.436142,-312.436142,2,...,254.368823,186.649341,-2.873101,27.685686,11.999565,99.133842,96.130667,87.363648,176.628960,0
13,13,312.140731,-69.082666,60218.008134,60218.051312,30.0,y,-301.551509,-301.551509,2,...,254.269405,186.649766,-2.873283,27.691753,12.003051,96.149490,99.218090,87.360122,172.084445,0
14,14,311.292611,-66.317774,60218.008582,60218.051312,30.0,y,-301.850216,-301.850216,2,...,254.174281,186.650171,-2.873457,27.697540,12.006380,95.632852,100.493928,87.356758,171.503581,0
15,15,310.601871,-63.561425,60218.009031,60218.051312,30.0,y,-301.913720,-301.913720,2,...,254.079001,186.650577,-2.873631,27.703321,12.009710,95.111947,101.739217,87.353397,170.875543,0
16,16,316.260480,-61.800448,60218.009497,60218.051312,30.0,y,-292.292063,-292.292063,2,...,253.980028,186.650997,-2.873812,27.709308,12.013162,92.085112,104.874731,87.349916,165.387794,0
17,17,310.024480,-60.812928,60218.009961,60218.051312,30.0,y,-301.765481,-301.765481,2,...,253.880996,186.651417,-2.873992,27.715281,12.016611,94.592923,102.952700,87.346443,170.205956,0
18,18,315.261515,-59.086430,60218.010427,60218.051312,30.0,y,-292.103664,-292.103664,2,...,253.781636,186.651838,-2.874173,27.721257,12.020065,91.560634,106.090753,87.342967,164.261871,0
19,19,309.532770,-58.069624,60218.010891,60218.051312,30.0,y,-301.403207,-301.403207,2,...,253.682389,186.652257,-2.874353,27.727208,12.023508,94.069210,104.135032,87.339506,169.486326,0

In [4]:
# Make a satellite constellation
tles = starlink_constellation_v1()
constellation = Constellation(tles)

In [5]:
# Check the first method
lengths = []
nstreaks = []
n_rows = len(df)
t1 = time.time()
for index, row in df.iterrows():
    length, streak = constellation.check_pointing(row['altitude'], row['azimuth'],
                                    row['observationStartMJD'], row['visitTime'])
    lengths.append(length)
    nstreaks.append(streak)
    # A simple progress bar
    progress = index/float(n_rows)*100
    text = "\rprogress = %.3f%%" % progress
    sys.stdout.write(text) 
    sys.stdout.flush() 
t2 = time.time()
print('runtime = %.2f min' % ((t2-t1)/60.) )

progress = 95.000%runtime = 3.06 min

In [6]:
# check the new method
t1 = time.time()

fast_lengths, fast_nstreaks = constellation.check_pointings(df['fieldRA'].values, df['fieldDec'].values,
                                                           df['observationStartMJD'].values,
                                                           df['visitTime'].values)
t2 = time.time()
print('runtime = %.2f min' % ((t2-t1)/60.) )

runtime = 0.31 min

In [7]:
lengths

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0630268755184136,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [8]:
fast_lengths

array([0.        , 0.        , 1.72258553, 0.        , 0.        ,
       0.        , 3.46212246, 0.        , 0.        , 0.        ,
       3.48649457, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [9]:
# The good news, we got a factor of 10 speedup! The bad news, the results that are supposed to match don't match.

In [10]:
from rubin_sim.utils import gnomonic_project_toxy

In [11]:
help(gnomonic_project_toxy)

Help on function gnomonic_project_toxy in module rubin_sim.utils.projections:

gnomonic_project_toxy(RA1, Dec1, RAcen, Deccen)
    Calculate x/y projection of RA1/Dec1 in system with center at RAcen, Deccen.
    Input radians. Grabbed from sims_selfcal